requests>=2.31.0
tkcalendar>=1.5.0
pydantic>=2.0.0
beautifulsoup4
webdriver-manager
openpyxl>=3.0.0
scrapy
pywin32
pypdf
cryptography>=3.1
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
matplotlib
pandas
winotify
watchdog
flask
customtkinter